{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/dash.css' %}">
<link rel="stylesheet" href="{% static 'css/common.css' %}">

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
{% if messages %}
  {% for message in messages %}
	<div class="alert alert-{{ message.tags }}" role="alert">
	  {{ message }}
	</div>
  {% endfor %}
{% endif %}

<script>
	// Auto-hide alerts after 3 seconds
	setTimeout(function() {
		document.querySelectorAll('.alert').forEach(function(alert) {
			alert.style.transition = "opacity 0.5s ease";
			alert.style.opacity = "0";
			setTimeout(() => alert.remove(), 500); // Remove after fade
		});
	}, 3000);
</script>

<div class="container">
	<div class="row">
		{% include 'includes/dashboard_sidebar.html'%}
	
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Logged in as : </strong>
			<span>{{user.full_name}}</span>
		</header>
		<div class="card-body">
			<div class="row"> 
				<div class="col-md-6 mb-3">
					<div class="card" style="text-align:center;">
						<div class="card-body">
							<h5 class="card-title">Total Orders</h5>
							<h4>{{ orders_count }}</h4>
							<a href="{% url 'my_orders'%}">View Orders</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 mb-3">
					<div class="card" style="text-align:center;">
						<div class="card-body">
									{% if userprofile.profile_picture and userprofile.profile_picture.name %}
										<img src="{{ userprofile.profile_picture.url }}" alt="User Profile Picture" width="50" height="50" style="border-radius:50%;">
									{% else %}
										<img src="{% static 'images/dummy_profile.webp' %}" alt="Dummy Profile Picture" width="50" height="50" style="border-radius:50%;">
									{% endif %}
							<p class="mb-0">{{user.email}}</p>
							<p>{{user.phone_number}}</p>
						</div>
					</div> 	
				</div>
			</div>
		</div>
		</article> 
	</main>
</div>
</div>

</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
